* {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #1d1d1d;
}

.tile-container {
  display: flex;
  justify-content: center;
}

.tile {
  display: inline-block;
  background-color: #252525;
  padding: 20px;
  border-radius: 7.5px;
  max-width: 400px;
}

.tile-main > img {
  max-width: 100%;
  object-fit: cover;
  height: auto;
  margin-bottom: 0.5em;
  border-radius: 7.5px;
}

.tile-info {
  display: flex;
}

.tile-info > img {
  width: 50px;
  height: 50px;
  margin-right: 1.5em;
  border-radius: 7.5px;
}

.tile-info-text > h3 {
  color: white;
  font-weight: 900;
  max-width: 100%;
}

.tile-info-text > p {
  font-size: .85em;
  color: #9e9e9e;
}

.tile-interactions {
  display: none;
  column-gap: 0.5em;
  margin-top: 0.7em;
  overflow: hidden;
  transition: 0.3s ease;
}

.tile-interactions > p {
  color: white;
  display: inline-block;
  font-size: 0.9em;
  background-color: #1d1d1d;
  padding: 0.2em 0.4em;
  border-radius: 7.5px;
}

.tile:hover .tile-interactions  {
  display: flex;
}